/* simple reset */
* {
	margin: 0;
	padding: 0;
}
body{
	padding: 20px;
}
.b-targets{
	overflow: hidden;
}
.b-targets__item1,
.b-targets__item2,
.b-targets__item3{
	width: 200px;
	height: 200px;
	line-height: 200px;
	background: #666;
	text-align: center;
	cursor: pointer;
	border: 1px solid #000;
	margin-right: 20px;
	float: left;
}
.b-events{
	padding-top: 20px;
}